*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header .logoDivision{
    margin-right: 50px;
}
header .headerNav{
    margin-right: 100px;
}


header .navbar ul{
    list-style: none;
    display: flex;
    gap: 0px 60px;
}
header .navbar ul li a{
    text-decoration: none;
    color: black;
    transition: 2s;
    cursor: pointer;

}
header .navbar ul li a:hover{
    color:silver;

}

